@import 'variable';

.content_container{
    width:$max_width;
    background-color:#333333;
    .title_box{
        width:$content_width;
        height:94px;
        margin:0 auto;
        color:white;
        h4{
            margin:30px 0px;
            display:inline-block;
            font-size:25px;
            font-weight:normal;
        }
        .submenu_info{
            width:90%;
            height:94px;
            display:inline-block;
            text-align:right;
            font-size:13px;
        }
    }
}
.text_box{
    width:$content_width;
    margin:0 auto;
    text-align:center;
    h3{
        font-size:26px;
        font-weight:normal;
        color:#444444;
        margin:70px 0px;
        position: relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width: 200px;
            height:2px;
            background-color:brown;
            bottom:-20px;
            left:42%;
        }
    }
    p{
        font-size:14px;
        color:#444444;
        margin:50px 0px 100px 0px;
        position:relative;
        &::after{
            content: '';
            display: block;
            position: absolute;
            width:80%;
            height:1px;
            background-color:silver;
            bottom:-50px;
            left:10%;
        }
    }
    img{
        margin:50px 0px;
    }
}