@import "variable";
.footer_container {
  width: $layout_width;
  height: 200px;
  background-color: black;
  text-align: center;
  .footer_box {
    width: $content_width;
    margin: 20px auto;
    display: inline-block;
    p {
      font-size: 12px;
      margin: 20px 0px;
      color: #c7c6c6;
    }
    p:nth-of-type(2) {
      font-weight: bold;
      color: white;
    }
  }
}
