* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body {
  overflow-x: hidden;
}

body article .about_wrap {
  width: 100%;
  text-align: center;
}

body article .about_wrap .page_head {
  background: url(../img/about_img3.jpg) center;
  width: 100%;
  height: 50vh;
}

body article .about_wrap .page_head h2 {
  padding: 100px 0px 0px 0px;
  display: inline-block;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 54px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

body article .about_wrap .page_head .sub_pageName {
  padding: 10px 0px;
  color: #fff;
  font-size: 24px;
}

body article .about_wrap .page_head .subMenu_ul li {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: rgba(255, 255, 255, 0.4);
  border: 3px solid #fff;
  margin: 10px 3px;
}

body article .about_wrap .page_head .subMenu_ul li a {
  display: inline-block;
  width: 120px;
  height: 120px;
  padding: 40% 0;
  color: #fff;
  font-size: 24px;
  font-size: 15px;
  font-weight: 500;
}

body article .about_wrap .page_head .subMenu_ul li:hover {
  background-color: #21bbb1;
  border: 3px solid #21bbb1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

body article .contents_wrap {
  width: 80%;
  margin: 50px auto;
}

body article .contents_wrap .contents_head {
  position: relative;
}

body article .contents_wrap .contents_head span {
  display: block;
  position: absolute;
  border: 1px solid #bbb;
  text-align: center;
  font-size: 18px;
  -webkit-transform: scaleY(1.5);
          transform: scaleY(1.5);
  width: 45px;
  height: 30px;
  cursor: pointer;
}

body article .contents_wrap .contents_head span:hover {
  background-color: #21bbb1;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #fff;
  border: none;
}

body article .contents_wrap .contents_head .left_btn {
  top: 50%;
  left: 0%;
}

body article .contents_wrap .contents_head .right_btn {
  top: 50%;
  right: 0%;
}

body article .contents_wrap .contents_head .contents_title {
  color: #fff;
  font-size: 24px;
  font-size: 30px;
  color: #000;
}

body article .contents_wrap .contents_head .contents_title_info {
  font-size: 16px;
  font-weight: 400;
  padding: 20px 50px;
  border-bottom: #bbb 1px solid;
  margin-bottom: 30px;
}

body article .contents_wrap .contents_body img {
  width: calc(100% - 20px);
}

body article .contents_wrap .contents_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

body article .contents_wrap .contents_ul .contents_li {
  margin: 0 10px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

body article .contents_wrap .contents_ul .contents_li img {
  width: 100%;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  margin: 0 0px;
  height: 150px;
}

body article .contents_wrap .contents_ul .contents_li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  border: 3px solid #bbb;
}

body article .contents_wrap .contents_ul .contents_li h5 {
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 0;
}

body article .contents_wrap .contents_ul .contents_li p {
  color: #bbb;
  font-weight: 300;
  font-size: 14px;
}

body article .contents_wrap .contents_ul .contents_li .li_info {
  text-transform: capitalize;
  padding-bottom: 20px;
}

body article .contents_wrap .contents_ul .contents_li .li_text {
  border-top: 1px solid #bbb;
  padding: 20px 0;
}

body article .contents_wrap .info_wrap {
  padding: 50px 0;
  text-align: left;
}

body article .contents_wrap .info_wrap div {
  padding: 30px 0;
}

body article .contents_wrap .info_wrap div h5 {
  font-size: 18px;
  font-family: 400;
  padding: 10px 0;
}

body article .contents_wrap .info_wrap div p {
  font-size: 14px;
  font-weight: 400;
  color: #555;
}

body article .contents_wrap .info_wrap .structure table {
  border-collapse: collapse;
  width: 100%;
}

body article .contents_wrap .info_wrap .structure table th,
body article .contents_wrap .info_wrap .structure table td {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  border: 1px solid #bbb;
  padding: 10px 5px;
}

body article .contents_wrap .info_wrap .structure table th {
  width: 10%;
  background-color: #f8f8f8;
}

body article .contents_wrap .info_wrap .structure table tr:nth-of-type(1) {
  border-top: 2px solid #000;
}

body article .contents_wrap .info_wrap .cost_info {
  text-align: center;
}

body article .contents_wrap .info_wrap .cost_info h5,
body article .contents_wrap .info_wrap .cost_info p {
  text-align: left;
}

body article .contents_wrap .info_wrap .cost_info .cost_table {
  margin: 30px 0;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
}

body article .contents_wrap .info_wrap .cost_info .cost_table th,
body article .contents_wrap .info_wrap .cost_info .cost_table td {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  border: 1px solid #bbb;
  padding: 10px 5px;
}

body article .contents_wrap .info_wrap .cost_info .cost_table th {
  background-color: #f8f8f8;
}

body article .contents_wrap .info_wrap .cost_info .cost_table th:nth-of-type(2) {
  width: 10px;
}

body article .contents_wrap .info_wrap .cost_info .cost_table td {
  width: 9%;
}

body article .contents_wrap .info_wrap .cost_info .cost_table td:nth-of-type(2) {
  width: 10px;
}

body article .contents_wrap .info_wrap .cost_info .cost_table thead {
  border-top: 2px solid #000;
}

body article .contents_wrap .info_wrap .cost_info a {
  background: url(../img/border-img.png);
  display: inline-block;
  padding: 4px;
  width: 180px;
  height: 50px;
}

body article .contents_wrap .info_wrap .cost_info a span {
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  width: 180px;
  height: 42px;
}

@media (max-width: 890px) {
  body {
    overflow-x: hidden;
  }
  body article .about_wrap {
    width: 100%;
    text-align: center;
  }
  body article .about_wrap .page_head {
    background: url(../img/about_img3.jpg) center;
    width: 100%;
    height: 50vh;
  }
  body article .about_wrap .page_head h2 {
    padding: 100px 0px 0px 0px;
    display: inline-block;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 54px;
    text-transform: uppercase;
    letter-spacing: 7px;
  }
  body article .about_wrap .page_head .sub_pageName {
    padding: 10px 0px;
    color: #fff;
    font-size: 24px;
  }
  body article .about_wrap .page_head .subMenu_ul li {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    background-color: rgba(255, 255, 255, 0.4);
    border: 3px solid #fff;
    margin: 10px 3px;
    width: 50%;
    height: 30px;
    padding: 0px 0;
  }
  body article .about_wrap .page_head .subMenu_ul li a {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    display: inline-block;
    width: 120px;
    height: 30px;
    padding: 0px 0;
    color: #fff;
    font-size: 24px;
    font-size: 15px;
    font-weight: 500;
  }
  body article .about_wrap .page_head .subMenu_ul li:hover {
    background-color: #21bbb1;
    border: 3px solid #21bbb1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
  }
  body article .contents_wrap {
    width: 80%;
    margin: 50px auto;
  }
  body article .contents_wrap .contents_head {
    position: relative;
  }
  body article .contents_wrap .contents_head span {
    display: block;
    position: absolute;
    border: 1px solid #bbb;
    text-align: center;
    font-size: 18px;
    -webkit-transform: scaleY(1.5);
            transform: scaleY(1.5);
    width: 45px;
    height: 30px;
    cursor: pointer;
  }
  body article .contents_wrap .contents_head span:hover {
    background-color: #21bbb1;
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    color: #fff;
    border: none;
  }
  body article .contents_wrap .contents_head .left_btn {
    top: 50%;
    left: 0%;
  }
  body article .contents_wrap .contents_head .right_btn {
    top: 50%;
    right: 0%;
  }
  body article .contents_wrap .contents_head .contents_title {
    color: #fff;
    font-size: 24px;
    font-size: 30px;
    color: #000;
  }
  body article .contents_wrap .contents_head .contents_title_info {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 50px;
    border-bottom: #bbb 1px solid;
    margin-bottom: 30px;
  }
  body article .contents_wrap .contents_body img {
    width: calc(100% - 20px);
  }
  body article .contents_wrap .contents_ul {
    display: inline-block;
    width: 100%;
  }
  body article .contents_wrap .contents_ul .contents_li {
    display: inline-block;
    margin: 0 10px;
    width: calc(50% - 22px);
    text-align: left;
    overflow: hidden;
  }
  body article .contents_wrap .contents_ul .contents_li img {
    width: 100%;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    margin: 0 0px;
    height: 150px;
  }
  body article .contents_wrap .contents_ul .contents_li img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    border: 3px solid #bbb;
  }
  body article .contents_wrap .contents_ul .contents_li h5 {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0;
  }
  body article .contents_wrap .contents_ul .contents_li p {
    color: #bbb;
    font-weight: 300;
    font-size: 14px;
  }
  body article .contents_wrap .contents_ul .contents_li .li_info {
    text-transform: capitalize;
    padding-bottom: 20px;
  }
  body article .contents_wrap .contents_ul .contents_li .li_text {
    border-top: 1px solid #bbb;
    padding: 20px 0;
  }
  body article .contents_wrap .info_wrap {
    padding: 50px 0;
    text-align: left;
  }
  body article .contents_wrap .info_wrap div {
    padding: 30px 0;
  }
  body article .contents_wrap .info_wrap div h5 {
    font-size: 18px;
    font-family: 400;
    padding: 10px 0;
  }
  body article .contents_wrap .info_wrap div p {
    font-size: 14px;
    font-weight: 400;
    color: #555;
  }
  body article .contents_wrap .info_wrap .structure table {
    border-collapse: collapse;
    width: 100%;
  }
  body article .contents_wrap .info_wrap .structure table th,
  body article .contents_wrap .info_wrap .structure table td {
    font-size: 14px;
    font-weight: 400;
    color: #555;
    border: 1px solid #bbb;
    padding: 10px 5px;
  }
  body article .contents_wrap .info_wrap .structure table th {
    width: 10%;
    background-color: #f8f8f8;
  }
  body article .contents_wrap .info_wrap .structure table tr:nth-of-type(1) {
    border-top: 2px solid #000;
  }
  body article .contents_wrap .info_wrap .cost_info {
    text-align: center;
    overflow-x: scroll;
  }
  body article .contents_wrap .info_wrap .cost_info h5,
  body article .contents_wrap .info_wrap .cost_info p {
    text-align: left;
  }
  body article .contents_wrap .info_wrap .cost_info .cost_table {
    margin: 30px 0;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
  }
  body article .contents_wrap .info_wrap .cost_info .cost_table th,
  body article .contents_wrap .info_wrap .cost_info .cost_table td {
    font-size: 14px;
    font-weight: 500;
    color: #333;
    border: 1px solid #bbb;
    padding: 10px 5px;
  }
  body article .contents_wrap .info_wrap .cost_info .cost_table th {
    background-color: #f8f8f8;
  }
  body article .contents_wrap .info_wrap .cost_info .cost_table th:nth-of-type(2) {
    width: 10px;
  }
  body article .contents_wrap .info_wrap .cost_info .cost_table td {
    width: 9%;
  }
  body article .contents_wrap .info_wrap .cost_info .cost_table td:nth-of-type(2) {
    width: 10px;
  }
  body article .contents_wrap .info_wrap .cost_info .cost_table thead {
    border-top: 2px solid #000;
  }
  body article .contents_wrap .info_wrap .cost_info a {
    background: url(../img/border-img.png);
    display: inline-block;
    padding: 4px;
    width: 180px;
    height: 50px;
  }
  body article .contents_wrap .info_wrap .cost_info a span {
    background-color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 180px;
    height: 42px;
  }
}
