* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

body article {
  width: 100%;
}

body article .about_wrap {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0px 100px 0px;
  position: relative;
}

body article .about_wrap .logo {
  display: block;
  width: 200px;
  margin: 0 auto;
}

body article .about_wrap h2 {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
}

body article .about_wrap b {
  display: block;
  color: #946308;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

body article .about_wrap .table1 {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

body article .about_wrap .table1 thead tr th {
  background-color: #7c706b;
  border: 1px solid #f0f0f0;
  color: #fff;
  font-weight: 300;
  height: 50px;
}

body article .about_wrap .table1 thead tr td {
  background-color: #97837a;
  border: 1px solid #f0f0f0;
  color: #fff;
}

body article .about_wrap .table1 tbody tr {
  height: 80px;
}

body article .about_wrap .table1 tbody tr th {
  background-color: #f0f0f0;
  text-align: left;
  padding: 30px 10px;
  font-weight: 300;
}

body article .about_wrap .table1 tbody tr td {
  border: 1px solid #f0f0f0;
}

body article .about_wrap .table2 {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  margin: 30px 0;
}

body article .about_wrap .table2 thead tr th {
  background-color: #7c706b;
  border: 1px solid #f0f0f0;
  color: #fff;
  font-weight: 300;
  height: 80px;
}

body article .about_wrap .table2 thead tr td {
  background-color: #d9d9d9;
  border: 1px solid #f0f0f0;
}

body article .about_wrap .table2 tbody tr th {
  background-color: #97837a;
  border: 1px solid #f0f0f0;
  text-align: center;
  padding: 5px 0px;
  font-weight: 300;
  color: #fff;
  width: 25%;
}

body article .about_wrap .table2 tbody tr td {
  border: 1px solid #f0f0f0;
  width: 15%;
}
