* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  background: url(../img/beach3.jpg);
  width: 100%;
  height: 60vh;
}

header .head_wrap {
  width: 100%;
  height: 60vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

header .head_wrap .head_area {
  text-align: center;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
}

header .head_wrap .head_area h2 {
  font-size: 28px;
  font-weight: 400;
  padding: 20px;
  color: #fff;
}

header .head_wrap .head_area p {
  border-radius: 10px;
  color: #fff;
}

header .head_wrap .head_area p a {
  color: #fff;
  padding: 0 3px;
}

header .head_wrap .sub_nav {
  width: 70%;
  height: 40px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .head_wrap .sub_nav a {
  display: block;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

header .head_wrap .sub_nav a li {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  padding: 9px 0;
}

header .head_wrap .sub_nav a:hover {
  background-color: rgba(0, 0, 0, 0.45) !important;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
