.content_container {
  width: 1920px;
}

.content_container .text_box {
  width: 1050px;
  margin: 50px auto;
  color: #605c60;
}

.content_container .text_box h3 {
  font-weight: normal;
  margin: 30px 0px;
}

.content_container .text_box pre {
  line-height: 25px;
  font-size: 13px;
  letter-spacing: -1px;
}

.content_container .address_container {
  width: 1920px;
  background-color: #f7f7f7;
  text-align: center;
  color: #605c60;
}

.content_container .address_container h3 {
  margin: 40px 0px 10px;
  display: inline-block;
}

.content_container .address_container p {
  font-size: 14px;
  margin: 10px 0px;
}

.content_container .address_container iframe {
  margin: 20px 0px 0px;
}
