.content_container {
  width: 1920px;
}

.content_container .service_title {
  width: 1920px;
  border-bottom: 1px solid #444444;
  padding: 50px 0px;
}

.content_container .service_title .service_box {
  width: 1250px;
  margin: 0 auto;
  text-align: center;
}

.content_container .service_title .service_box h3 {
  font-weight: normal;
  color: #444444;
  margin: 20px 0px;
}

.content_container .service_title .service_box p {
  line-height: 25px;
  color: #444444;
  font-size: 12px;
  letter-spacing: -1px;
}

.content_container .service_title .service_box table {
  width: 100%;
  margin: 30px auto;
  border-collapse: collapse;
  text-align: center;
  font-size: 14px;
}

.content_container .service_title .service_box table tr {
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
}

.content_container .service_title .service_box table tr td {
  height: 40px;
}

.content_container .service_title .service_box table thead tr {
  background-color: #e5ecef;
  font-weight: bold;
}

.content_container .service_title .service_box table tbody {
  color: #444444;
}

.content_container .service_title .service_box table tbody tr td:nth-of-type(2) {
  text-align: left;
}

.service_attach {
  width: 1920px;
  height: 400px;
  background: url("../img/service/content_3.jpg") no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;
}

.service_attach h3 {
  margin: 150px 0px 30px;
  display: inline-block;
  font-size: 30px;
  font-weight: normal;
}

.service_attach p {
  font-size: 13px;
}
