<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/gunsan/css/header.css">
    <link rel="stylesheet" href="../public/gunsan/css/nav.css">
    <link rel="stylesheet" href="../public/gunsan/css/<%-css%>.css">
    <link rel="stylesheet" href="../public/gunsan/css/footer.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <title>군산펜션</title>
</head>
<body>
   <%-nav%>
   <%-content%>
   <%-footer%>
   

</body>
</html>