* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.after_right, .header_container .header_box .header_right {
  float: right;
}

.after_right::after, .header_container .header_box .header_right::after {
  content: '';
  display: block;
  clear: both;
}

.after_left {
  float: right;
}

.after_left::after {
  content: '';
  display: block;
  clear: both;
}

.header_container {
  width: 1920px;
  height: 25px;
  background-color: black;
}

.header_container .header_box {
  width: 890px;
  height: 25px;
  margin: 0 auto;
}

.header_container .header_box .header_right {
  height: 25px;
  line-height: 25px;
}

.header_container .header_box .header_right span a {
  color: white;
  font-size: 13px;
  font-weight: bold;
}
