.menu_hover:hover, .nav_container .nav_box .nav_left ul li a:hover, .nav_container .nav_box .nav_right ul li a:hover {
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  color: #a88276;
}

.nav_container {
  width: 1920px;
  height: 80px;
  background-color: white;
  text-align: center;
}

.nav_container .nav_box {
  width: 890px;
  text-align: center;
  margin: 0 auto;
}

.nav_container .nav_box .nav_left, .nav_container .nav_box .nav_logo, .nav_container .nav_box .nav_right {
  display: inline-block;
  font-size: 15px;
  width: 370px;
  height: 64px;
}

.nav_container .nav_box .nav_left ul li {
  line-height: 75px;
  margin-left: 48px;
  float: left;
}

.nav_container .nav_box .nav_left ul li a {
  color: #444444;
}

.nav_container .nav_box .nav_logo {
  width: 120px;
  height: 64px;
  margin-right: 15px;
}

.nav_container .nav_box .nav_right ul li {
  line-height: 75px;
  margin-right: 43px;
  float: right;
}

.nav_container .nav_box .nav_right ul li a {
  color: #444444;
  font-weight: 540;
}
