@import "font";

$max_width: 1920px;
$content_width: 1200px;
$font: "GmarketSansMedium", sans-serif;

.banner_box {
  width: $max_width;
  height: 600px;
  overflow: hidden;
}

.about {
  $width: $content_width;
  text-align: center;
  font-family: $font;
  h3 {
    margin: 50px;
    font-size: 30px;
    color: #444444;
  }
}

.list {
  width: $content_width;
  margin: 0 auto;
  li {
    width: 49%;
    font-family: $font;
    float: left;
    margin: 5px;
    img {
      width: 100%;
    }
    h4 {
      font-size: 20px;
      margin: 20px 0px;
      font-weight: normal;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 30px;
        height: 1px;
        background-color: #444444;
        bottom: -15px;
        left: 0;
      }
    }
    pre {
      margin: 40px 0px;
      letter-spacing: -1px;
      color: #444444;
      font-family: $font;
      font-size: 13px;
    }
  }
}

.end_content {
  width: $max_width;
  height: 500px;
  overflow: hidden;
  margin: 50px auto 0px;
  text-align: center;
  background: url("../img/travel/end_content.jpg") no-repeat;
  background-attachment: fixed;
}
