<h1>
    <p class="logo"><img src="../public/gongju/img/logo.png" alt="메인로고"></p>
</h1>
<ul class="menu_ul">
    <li class="menu_li">
        <p class="nav1">about</p>
    </li>
    <li class="menu_li">
        <p class="nav2">map</p>
    </li>
    <li class="menu_li">
        <p class="nav3">room</p>
    </li>
    <li class="menu_li">
        <p class="nav4">special</p>
    </li>
    <li class="menu_li">
        <p class="nav5">community</p>
    </li>
    <li class="menu_li">
        <p class="nav6">reservation</p>
    </li>
</ul>
<div class="hidden">
    <ul class="menu_ul2">
        <li class="menu_li">
            <p class="nav1">about</p>
        </li>
        <li class="menu_li">
            <p class="nav2">map</p>
        </li>
        <li class="menu_li">
            <p class="nav3">room</p>
        </li>
        <li class="menu_li">
            <p class="nav4">special</p>
        </li>
        <li class="menu_li">
            <p class="nav5">community</p>
        </li>
        <li class="menu_li">
            <p class="nav6">reservation</p>
        </li>
    </ul>
</div>
<img src="../public/gongju/img/menu.png" alt="" class="menu_btn">