.header_container {
  width: 1920px;
  margin: 81px auto;
  display: inline-block;
}

.header_container .swiper-container {
  width: 1200px;
  margin: 0 auto;
}

.header_container .swiper-container img {
  width: 100%;
}
