.content_container {
  width: 1920px;
  margin: 80px auto 0px;
  display: inline-block;
}

.content_container .room_box {
  width: 1200px;
  margin: 50px auto;
}

.content_container .room_box .top_text {
  width: 1200px;
  height: 40px;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  margin: 30px 0px;
}

.content_container .room_box .top_text h4 {
  font-size: 20px;
  margin: 20px;
}

.content_container .room_box .one_content_box {
  width: 1200px;
  margin: 10px auto;
  text-align: left;
  display: inline-block;
}

.content_container .room_box .one_content_box table {
  width: 1200px;
  margin: 50px auto;
  text-align: center;
  border-collapse: collapse;
  border-top: 2px solid #444444;
  border-bottom: 2px solid #cccccc;
}

.content_container .room_box .one_content_box table thead tr {
  height: 50px;
  background-color: #fafafa;
  border-bottom: 1px solid #e5e5e5;
  font-weight: bold;
  font-size: 14px;
  color: #666666;
}

.content_container .room_box .one_content_box table thead tr td {
  position: relative;
}

.content_container .room_box .one_content_box table thead tr td::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 30%;
  right: 0;
  top: 35%;
  background-color: #666666;
}

.content_container .room_box .one_content_box table thead tr td:last-of-type::after {
  display: none;
}

.content_container .room_box .one_content_box table tbody tr {
  height: 50px;
  color: #666666;
  font-size: 14px;
  border-bottom: 1px solid #e5e5e5;
}
