$max_width: 1920px;
$content_width: 1200px;

.content_container {
  width: $max_width;
  .first_text {
    width: $content_width;
    text-align: center;
    margin: 0 auto;
    h3 {
      font-size: 26px;
    }
    h5 {
      font-size: 16px;
      color: #999999;
      margin-bottom: 50px;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 10%;
        height: 5px;
        bottom: -25px;
        left: 45%;
        background-color: #999999;
      }
    }
    pre {
      line-height: 30px;
      font-weight: bold;
      letter-spacing: -2px;
      color: #444444;
    }
  } // first_text end
  .room_box {
    width: $content_width;
    margin: 50px auto;
    ul {
      width: 100%;
      text-align: center;
      li {
        width: 47%;
        height: 420px;
        float: left;
        margin: 15px;
        text-align: left;
        position: relative;
        overflow: hidden;
        &::after {
          content: "";
          display: block;
          position: absolute;
          width: 1px;
          height: 1px;
          left: 5%;
          bottom: 0;
        }
        img {
          margin: 0px 30px;
          transition-duration: 0.3s;
        }
        h4 {
          margin: 30px;
          font-size: 18px;
          color: black;
        }
        p {
          margin: 30px;
          color: #999999;
          font-size: 14px;
          b {
            font-size: 18px;
            color: #444444;
          }
        }
        &:hover {
          &::after {
            transition-duration: 0.5s;
            width: 90%;
            background-color: #444444;
          }
          img {
            transition-duration: 1s;
            transform: scale(1.2);
          }
        }
      }
      li:nth-of-type(even) {
        margin: 70px 15px;
      }
    }
  } // room_box end
}
