$max_width: 1920px;
$content_width: 1250px;

.content_container {
  width: $max_width;
  .room_sum_title {
    width: $max_width;
    border-bottom: 1px solid #444444;
    padding: 50px 0px;
    .room_sum_box {
      width: $content_width;
      margin: 0 auto;
      h3 {
        font-weight: normal;
        color: #444444;
        letter-spacing: -1px;
        margin: 20px 0px;
      }
      p {
        line-height: 30px;
        color: #444444;
        font-size: 14px;
        letter-spacing: -1px;
      }
    }
  } // room_sum_title
  .swiper-container {
    width: $max_width - 400;
    text-align: center;
    margin: 50px auto;
    .swiper-wrapper {
      width: $content_width;
    }
  } // swiper-container end
}
