<h1><a href="main.html"><img src="../public/taean/img/logo2.png" alt="메인로고"></a></h1>
<span class="x_btn"><img src="../public/taean/img/xIcon.png" alt="close"></span>
<ul class="menuUl">
    <li class="menuLi"><a href="/taean/about/1">about</a></li>
    <li class="menuLi"><a href="/taean/villa">villa</a></li>
    <li class="menuLi"><a href="/taean/special">special</a></li>
    <li class="menuLi"><a href="/taean/community">community</a></li>
    <li class="menuLi"><a href="#">reservation</a></li>
</ul>
<p class="copyright">Copyright 2021 Web's Republic. All rights reserved.
    <br>
    <a href="#" target="_blank"><strong>by SPEED</strong></a>
</p>