@import "set";
article {
    height: 100vh;
    .room_wrap {
        .slider {
            .slider_bg {
                img {
                    width: 100%;
                    height: 100vh;
                }
            }
            .slick-next {
                right: 75px;
            }
            .slick-dots {
                bottom: 30px;
            }
        }
    }
}
