* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  color: black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
}

nav {
  z-index: 1000;
  position: fixed;
}

nav .nav_wrap {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 130px;
  background-color: rgba(70, 70, 70, 0.6);
}

nav .nav_wrap .moblie_icon {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
}

nav .nav_wrap .main_logo_h {
  margin-right: auto;
}

nav .nav_wrap .main_logo_h a {
  display: inline-block;
  width: 250px;
  height: 130px;
}

nav .nav_wrap .main_logo_h a img {
  width: 100%;
  height: 100%;
}

nav .nav_wrap .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav_wrap .menu ul li {
  padding: 54px 20px;
  display: inline-block;
}

nav .nav_wrap .menu ul li a {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

nav .nav_wrap .mobile_menu {
  display: none;
  position: absolute;
  text-align: center;
  top: 100px;
  right: -105px;
  background-color: rgba(70, 70, 70, 0.6);
  padding: 0px 10px;
}

nav .nav_wrap .mobile_menu ul li {
  padding: 10px 0px;
  display: block;
}

nav .nav_wrap .mobile_menu ul li a {
  font-family: "Orbitron", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
  font-size: 13px;
}

article .slider_wrap {
  overflow: hidden;
}

article .slider_wrap .slider .slider_bg {
  position: relative;
}

article .slider_wrap .slider .slider_bg #slider_img {
  width: 100%;
  height: 100vh;
}

article .slider_wrap .slider .slider_bg .bg_text {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  text-align: center;
}

article .slider_wrap .slider .slider_bg .bg_text h2 {
  font-size: 18px;
  letter-spacing: 3px;
  padding: 10px 0;
  font-weight: 300;
}

article .slider_wrap .slider .slider_bg .bg_text p {
  font-size: 32px;
  letter-spacing: 15px;
}

article .slider_wrap .slider .slider_bg .bg_text h2,
article .slider_wrap .slider .slider_bg .bg_text p {
  font-family: "Noto Sans KR", sans-serif;
  text-shadow: 0px 0px 8px #222222;
  color: #ffffff;
}

article .index_area .bg_div {
  height: auto;
  padding: 60px 0px;
  background-image: url(../img/abt_bg.jpg);
  background-repeat: no-repeat;
  text-align: center;
}

article .index_area .bg_div h2 {
  margin: auto;
  width: 50%;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

article .index_area .bg_div h2:nth-of-type(1) {
  font-size: 22px;
  letter-spacing: -1.5px;
}

article .index_area .bg_div h2:nth-of-type(2) {
  font-size: 35px;
  letter-spacing: 3px;
  padding: 0px 0px 10px;
}

article .index_area .bg_div .stick {
  width: 5px;
  height: 80px;
  background-color: #999999;
  margin: auto;
  position: relative;
  border-radius: 5px;
}

article .index_area .bg_div .stick .stick_sub {
  width: 100%;
  height: 20px;
  background-color: #222222;
  position: absolute;
  bottom: 0;
  border-radius: 5px;
}

article .index_area .bg_div p {
  font-size: 18px;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: 3px;
  margin: 40px 0px 0px;
  font-weight: 400;
  color: #222222;
}

article .index_area .bg_div p b {
  color: #222222;
}

article .room_inpo {
  width: 100%;
  padding: 60px 0px;
  text-align: center;
  background-color: #f7f7f7;
  margin: auto;
}

article .room_inpo .room_view h2 {
  font-size: 35px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  margin-top: 40px;
}

article .room_inpo .room_view h4 {
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  color: #999999;
  margin-bottom: 20px;
}

article .room_inpo .room_view .room_img_div a {
  width: 38%;
  display: inline-block;
  overflow: hidden;
}

article .room_inpo .room_view .room_img_div a img {
  margin: 5px;
  width: 100%;
  height: 400px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

article .room_inpo .room_view .room_img_div a:hover img {
  opacity: 0.4;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #333333;
}

footer .foot_logo_area {
  width: 250px;
  height: 130px;
  margin-right: auto;
}

footer .foot_logo_area img {
  width: 250px;
  height: 130px;
}

footer .foot_text_area {
  margin: auto;
  margin-right: 10px;
}

footer .foot_text_area p {
  text-align: right;
  font-size: 13px;
  font-weight: 400;
  font-family: "Noto Sans KR", sans-serif;
  color: #ffffff;
}

@media (max-width: 768px) {
  nav .nav_wrap {
    display: inline-block;
    text-align: center;
    height: 100px;
  }
  nav .nav_wrap .moblie_icon {
    display: block;
  }
  nav .nav_wrap .main_logo_h {
    margin-right: auto;
  }
  nav .nav_wrap .main_logo_h a {
    display: inline-block;
    width: 200px;
    height: 100px;
  }
  nav .nav_wrap .menu {
    display: none;
  }
  nav .nav_wrap .mobile_menu {
    display: block;
  }
  footer .foot_logo_area {
    margin: auto;
  }
  footer .foot_text_area {
    display: none;
  }
}
