<h1>
    <a href="/daejeon">
        <p class="logo"><img src="../public/daejeon/img/logo6.png" alt="메인로고"></p>
    </a>
</h1>
<ul class="menu_bar">
    <a href="/daejeon/about/1">
        <li>펜션소개</li>
    </a>
    <a href="/daejeon/room/1">
        <li>객실안내</li>
    </a>
    <a href="/daejeon/facilities">
        <li>부대시설</li>
    </a>
    <a href="/daejeon/around">
        <li>주변관광지</li>
    </a>
    <a href="/daejeon/community">
        <li>고객센터</li>
    </a>
    <a href="/daejeon/location">
        <li>교통안내</li>
    </a>
    <a href="#">
        <li>실시간 예약</li>
    </a>
</ul>
<img src="../public/daejeon/img/menu.png" alt="" class="menu_btn">